.sidebaroption{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: gray;
    margin-left: 10px;
    border-radius: 30px;
    height: 35px;
    padding: 5px;

}
.sidebaroption .MuiSvgIcon-root{
    margin-left: 10px;
}
.sidebaroption >h3{
    flex: 1;
    margin-left: 10px;
}
.sidebaroption >p{
    display: none;
    margin-right: 10px;
    
}
.sidebaroption:hover > p{
    display: inline;
  
}

.sidebaroption:hover,
.sidebaroption:hover > h3,
.sidebaroption:hover >p,
.sidebaroption_action,
.sidebaroption_action> h3,
.sidebaroption_action>p{
    color: #c04b32;
    background-color: #fcecec;
}

.sidebaroption_action > p{
    display: inline;

}