.sidebar{
    flex:0.2;
    /* border: 1px solid green; */
}
.sidebar__button{
    width: 60%;
    color: gray;
    margin-top: 15px !important;
    margin-left: 15px !important;
    margin-bottom: 15px !important;
    padding: 15px !important;
    border-radius: 30px !important;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}
.sidebar__footericon{
    display: flex;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}